h1 {
  text-align: center;
}
.small-text {
  font-size: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

div {
  font-family: "Varela Round", sans-serif;
}

.weather-temperature .active {
  color: rgb (33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.icon-main {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.center {
  display: block;
  max-width: 600px;
  min-width: 600px;
}

.background {
  position: relative;
  background-color: blanchedalmond;
  border-radius: 7px;
  border-color: pink;
  border-style: solid;
  border-width: 5px;
}
.short-form {
  max-width: 477px;
}
.icon-medium {
  max-width: 80px;
}
.emoji-menu {
  position: relative;
  left: 270px;
}
.emoji-mag {
  position: relative;
  top: -15px;
  left: -37px;
}
.emoji-mag-two {
  position: absolute;
  top: 50px;
  left: 540px;
  z-index: 1;
}
.emoji-day {
  position: relative;
  top: -94px;
  left: -100px;
  background-color: blanchedalmond;
  border-radius: 7px;
  border-color: pink;
  border-style: solid;
  border-width: 5px;
  font-size: 12.5px;
}
.emoji-hour {
  position: relative;
  top: 40px;
  left: -128px;
}
.emoji-wet {
  position: relative;
  top: 65px;
  left: -175px;
}
.emoji-wind {
  position: relative;
  top: 90px;
  left: -223px;
}
.emoji-celcius {
  position: relative;
  top: 115px;
  left: -262px;
}
.emoji-far {
  position: relative;
  top: 140px;
  left: -300px;
}
.overlay-text-day {
  position: relative;
  top: -15px;
  left: -62px;
}
.overlay-text-degrees-max {
  position: relative;
  top: -47px;
  left: -18px;
  font-size: 16px;
  font-weight: 500;
}

.overlay-text-degrees-min {
  position: relative;
  top: -50px;
  left: -18px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.5;
}
.text-one {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
}
.text-two {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 24px;
}
.text-three {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  font-weight: 400;
}
.text-four {
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
}
.text-five {
  position: absolute;
  top: 310px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
}
.text-six {
  position: absolute;
  top: 330px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  text-transform: capitalize;
}

.text-temp {
  font-size: 30px;
  position: absolute;
  top: 28px;
}

.col-main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  font-weight: 700;
}
.col-one {
  position: absolute;
  top: 325px;
  left: -200px;
}
.col-two {
  position: absolute;
  top: 400px;
  left: -120px;
}
.col-three {
  position: absolute;
  top: 445px;
  left: 20px;
}
.col-four {
  position: absolute;
  top: 400px;
  left: 150px;
}
.col-five {
  position: absolute;
  top: 325px;
  left: 230px;
}

.container-inner {
  margin: 0px auto;
}
.submit-button {
  position: absolute;
  top: -2px;
  left: 435px;
}
